# Earthquake Data of Indonesia

These data processed here are obtained from US Government ([usgs](https://www.usgs.gov/)).

These data were downloaded on 4/13/2021. Therefore, Shall I need to add more updated data, I need to retrieve the data manually starting from the date.


The data retrieving is limited by numbers, i.e. 20,000 inquiry at one time. Therefore, I needed to downloaded several different files.

Plans ahead are:
 - reading all data
 - concatinate vertically to create full dataframe
 - cleaning possible duplicated data, since the download method is separated.

In [16]:
import pandas as pd
import glob

In [25]:
# get data location and names
# for MacOS
data_folder = r'/Users/cakherman/OneDrive - purdue.edu/github/github-msuherma-mac/disaster_IDN/earthquake_IDN_usgs.gov'

#for Windows
# data_folder =

######
#getting all files, in csv format
fileNames = glob.glob(data_folder + '/*.csv')

In [29]:
# Opening all data in a loop
dfs = []
for fileName in fileNames:
    dfs.append(pd.read_csv(fileName, delimiter=','))

In [31]:
# concatenate all data into one Dataframe
all_dfs = pd.concat(dfs, ignore_index=True)

In [33]:
all_dfs.shape

(57030, 22)

In [34]:
all_dfs_cleaned = all_dfs.drop_duplicates(subset=None, keep=False)

In [35]:
all_dfs_cleaned.shape

(57030, 22)

In [38]:
print (f'The duplicate data cleaned from the dataframe is {all_dfs.shape[0] - all_dfs_cleaned.shape[0]}')

The duplicate data cleaned from the dataframe is 0

In [39]:
all_dfs_cleaned.head(3)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2019-12-31T09:50:41.876Z,0.0527,123.5328,129.13,4.3,mb,NaN,99.0,1.327,1.04,...,2020-03-14T22:22:57.040Z,"50km SE of Bilungala, Indonesia",earthquake,12.4,10.3,0.111,23.0,reviewed,us,us
1,2019-12-31T05:18:24.764Z,1.1925,120.7313,34.18,4.8,mb,NaN,88.0,0.095,1.36,...,2020-03-14T22:22:58.040Z,"19km NNW of Tolitoli, Indonesia",earthquake,8.4,5.6,0.102,30.0,reviewed,us,us
2,2019-12-30T16:59:04.000Z,6.6861,94.4018,99.89,4.8,mww,NaN,46.0,2.916,0.99,...,2020-03-14T22:23:09.040Z,"134km NW of Sabang, Indonesia",earthquake,7.1,3.1,0.089,12.0,reviewed,us,us