# Disaster Data of Indonesia

These data processed here are obtained from Indonesian Government ([BNPB](https://gis.bnpb.go.id/)).

These data were downloaded on 4/13/2021. Therefore, Shall I need to add more updated data, I need to retrieve the data manually starting from the date.

In [7]:
import pandas as pd

In [19]:
read_file = pd.read_excel(r'2021/Data-Bencana-2010-2019.xlsx', engine='openpyxl', skiprows=1)

In [21]:
read_file.to_csv (r'2021/Data-Bencana-2010-2019.csv', index = None, header=True)

In [22]:
sourceFile = r'2021/Data-Bencana-2010-2019.xlsx'
targetFile = r'2021/Data-Bencana-2010-2019.csv'

In [67]:
def xlsxToCsv(sourceFile, targetFile):
    '''
    This function performs two stages:
    1. read 'xlsx' format obtained from original source
    2. convert it to csv for less memory use
    
    It takes two arguments (assigned prior to performing each xlsxToCsv):
    sourceFile = '.xlsx' original file
    targetFile = '.csv' file and where to put it
    
    '''
    read_file = pd.read_excel(sourceFile, engine='openpyxl', skiprows=1)
    return read_file.to_csv(targetFile, index = None, header=True)

In [26]:
sourceFile = r'2021/Data-Bencana-2000-2009.xlsx'
targetFile = r'2021/Data-Bencana-2000-2009.csv'
xlsxToCsv(sourceFile, targetFile)

In [32]:
db_20202021 = pd.read_csv(r'2021/Data-Bencana-2020-2021.csv')
db_20102019 = pd.read_csv(r'2021/Data-Bencana-2010-2019.csv')
db_20082009 = pd.read_csv(r'2021/Data-Bencana-2008-2009.csv')

In [33]:
db_20082009.tail(3)

,No.,ID Kabupaten,Tanggal Kejadian,Kejadian,Lokasi,Kabupaten,Provinsi,Kronologi,Penyebab,Meninggal,Hilang,Terluka,Rumah Rusak,Fasum Rusak
2250,2251,6302,2008-01-01,BANJIR,NaN,KOTABARU,KALIMANTAN SELATAN,-,NaN,0,0,0,0,0
2251,2252,1111,2008-01-01,BANJIR,NaN,ACEH UTARA,ACEH,-,NaN,0,0,0,0,0
2252,2253,3503,2008-01-01,BANJIR,NaN,TRENGGALEK,JAWA TIMUR,-,NaN,0,0,0,0,0

In [36]:
db_20102019.head(3)

,No.,ID Kabupaten,Tanggal Kejadian,Kejadian,Lokasi,Kabupaten,Provinsi,Kronologi,Penyebab,Meninggal,Hilang,Terluka,Rumah Rusak,Fasum Rusak
0,1,1705,2019-12-31,BANJIR,Kec. Seluma Barat Ds. Tanjung Agung Ds. Pagar ...,SELUMA,BENGKULU,NaN,• Akibat hujan dengan intensitas tinggi,NaN,NaN,NaN,2,5
1,2,6305,2019-12-31,BANJIR,Kec. Binuang Kel. Raya Belanti,TAPIN,KALIMANTAN SELATAN,NaN,• Akibat hujan dengan intensitas tinggi,NaN,NaN,NaN,0,1
2,3,3322,2019-12-31,PUTING BELIUNG,Kec. Pabean Ds. Segiri Dsn. Segiri,SEMARANG,JAWA TENGAH,NaN,• Akibat hujan dengan intensitas tinggi,NaN,NaN,NaN,5,0

In [37]:
db_20202021.head(3)

,No.,ID Kabupaten,Tanggal Kejadian,Kejadian,Lokasi,Kabupaten,Provinsi,Kronologi,Penyebab,Meninggal,Hilang,Terluka,Rumah Rusak,Fasum Rusak
0,1,3202,2021-04-12,PUTING BELIUNG,Kec. Cicurug Ds. Tenjoayu,SUKABUMI,JAWA BARAT,NaN,• Akibat hujan dengan intensitas tinggi disert...,0,0,0,6,0
1,2,3201,2021-04-11,PUTING BELIUNG,Kec. Pamijahan Ds. Ciasihan,BOGOR,JAWA BARAT,NaN,• Akibat hujan dengan intensitas tinggi disert...,0,0,0,2,0
2,3,3201,2021-04-11,PUTING BELIUNG,Kec. Tamansari Ds. Sukajaya,BOGOR,JAWA BARAT,NaN,• Akibat hujan dengan intensitas yang sedang d...,0,0,0,0,1

## Concatinating all the data

In [49]:
frames = [db_20202021, db_20102019, db_20082009]
data_bencana_full = pd.concat(frames)
data_bencana_full= data_bencana_full.drop(columns=['No']) # dropping column 'No', unused.
data_bencana_full.to_csv(r'2021/Data-Bencana-full.csv')   # save to csv

In [61]:
data_bencana_full.shape # checking the shape

(29975, 13)

## Removing all potential duplicated rows

When downloading the data from the website, there is a slight possibility that I used the same date more than one. Since the potential of duplicated file exists, identifying and removing the duplicated files is necessary.

In [58]:

duplicateRows = data_bencana_full[data_bencana_full.duplicated()]

In [60]:
duplicateRows.shape

(125, 13)

In [62]:
db_cleaned = data_bencana_full.drop_duplicates()

In [64]:
db_cleaned.shape

(29850, 13)

## Checking the values consistencies in the dataframe

Since the input of the data is written by possibly more than one person, there is a possibility of inconsistencies in writing the data, such as the way to write Provinces' name.

In [77]:
nProvince = len(pd.unique(db_cleaned['Provinsi'])) # checking the number of provinces;
nProvince # It turns out that the number of province listed here is 36, where is the actual maximum is 34, therefore spotting the duplicated province name is in need.

35

36

In [71]:
listProvince = pd.unique(db_cleaned['Provinsi'])
listProvince

array(['JAWA BARAT', 'JAWA TIMUR', 'LAMPUNG', 'JAWA TENGAH',
       'SUMATERA SELATAN', 'KALIMANTAN TIMUR', 'KALIMANTAN TENGAH',
       'JAMBI', 'SUMATERA BARAT', 'ACEH', 'MALUKU', 'SULAWESI BARAT',
       'SUMATERA UTARA', 'NUSA TENGGARA TIMUR', 'BANTEN', 'RIAU',
       'DI YOGYAKARTA', 'KEPULAUAN BANGKA BELITUNG', 'SULAWESI SELATAN',
       'NUSA TENGGARA BARAT', 'PAPUA', 'KALIMANTAN SELATAN',
       'KALIMANTAN BARAT', 'SULAWESI UTARA', 'MALUKU UTARA',
       'SULAWESI TENGAH', 'KALIMANTAN UTARA', 'GORONTALO', 'BALI',
       'BENGKULU', 'DKI JAKARTA', 'JAWA Tengah', 'PAPUA BARAT',
       'DKI Jakarta', 'SULAWESI TENGGARA', 'KEPULAUAN RIAU'], dtype=object)

From the result of `listProvince`, I found that 'JAWA Tengah' and 'DKI Jakarta' have double name, therefore I need to replace the string.

In [75]:
def replaceValue (dfName, columnName, originalValue, targetValue):
    '''
    This function is to easily replace the value in certain column of dataframe
    It takes 4 arguments:
    dfName = the dataFrame Name
    columnName = column name to target
    OriginalValue = can be String, integer etc
    targetValue = value to replace
    '''
    return dfName[columnName].replace(originalValue,targetValue,inplace=True)

In [76]:
replaceValue(db_cleaned, 'Provinsi', 'JAWA Tengah', 'JAWA TENGAH')

/Users/cakherman/opt/anaconda3/envs/phd/lib/python3.8/site-packages/pandas/core/series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [79]:
replaceValue(db_cleaned, 'Provinsi', 'DKI Jakarta', 'DKI JAKARTA')

/Users/cakherman/opt/anaconda3/envs/phd/lib/python3.8/site-packages/pandas/core/series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [80]:
nProvince = len(pd.unique(db_cleaned['Provinsi'])) # checking the number of provinces;
nProvince # It turns out that the number of province listed here is 36, where is the actual maximum is 34, therefore spotting the duplicated province name is in need.

34

In [81]:
listProvince = pd.unique(db_cleaned['Provinsi'])
listProvince

array(['JAWA BARAT', 'JAWA TIMUR', 'LAMPUNG', 'JAWA TENGAH',
       'SUMATERA SELATAN', 'KALIMANTAN TIMUR', 'KALIMANTAN TENGAH',
       'JAMBI', 'SUMATERA BARAT', 'ACEH', 'MALUKU', 'SULAWESI BARAT',
       'SUMATERA UTARA', 'NUSA TENGGARA TIMUR', 'BANTEN', 'RIAU',
       'DI YOGYAKARTA', 'KEPULAUAN BANGKA BELITUNG', 'SULAWESI SELATAN',
       'NUSA TENGGARA BARAT', 'PAPUA', 'KALIMANTAN SELATAN',
       'KALIMANTAN BARAT', 'SULAWESI UTARA', 'MALUKU UTARA',
       'SULAWESI TENGAH', 'KALIMANTAN UTARA', 'GORONTALO', 'BALI',
       'BENGKULU', 'DKI JAKARTA', 'PAPUA BARAT', 'SULAWESI TENGGARA',
       'KEPULAUAN RIAU'], dtype=object)

In [83]:
db_cleaned.head(3)

,ID Kabupaten,Tanggal Kejadian,Kejadian,Lokasi,Kabupaten,Provinsi,Kronologi,Penyebab,Meninggal,Hilang,Terluka,Rumah Rusak,Fasum Rusak
0,3202,2021-04-12,PUTING BELIUNG,Kec. Cicurug Ds. Tenjoayu,SUKABUMI,JAWA BARAT,NaN,• Akibat hujan dengan intensitas tinggi disert...,0.0,0.0,0.0,6,0
1,3201,2021-04-11,PUTING BELIUNG,Kec. Pamijahan Ds. Ciasihan,BOGOR,JAWA BARAT,NaN,• Akibat hujan dengan intensitas tinggi disert...,0.0,0.0,0.0,2,0
2,3201,2021-04-11,PUTING BELIUNG,Kec. Tamansari Ds. Sukajaya,BOGOR,JAWA BARAT,NaN,• Akibat hujan dengan intensitas yang sedang d...,0.0,0.0,0.0,0,1

In [84]:
pd.unique(db_cleaned['Kejadian'])

array(['PUTING BELIUNG', 'TANAH LONGSOR', 'BANJIR', 'GEMPA BUMI',
       'GELOMBANG PASANG / ABRASI', 'KEBAKARAN HUTAN DAN LAHAN',
       'KEKERINGAN', 'GERAKAN TANAH', 'PERGERAKAN TANAH',
       'LETUSAN GUNUNG API', 'PENINGKATAN STATUS GUNUNG MERAPI',
       'TSUNAMI', 'GEMPA BUMI DAN TSUNAMI'], dtype=object)

In [118]:
db_cleaned_ENG = db_cleaned

In [119]:
replaceValue(db_cleaned_ENG, 'Kejadian', 'PUTING BELIUNG', 'cyclone')
replaceValue(db_cleaned_ENG, 'Kejadian', 'TANAH LONGSOR', 'landslide')
replaceValue(db_cleaned_ENG, 'Kejadian',  'BANJIR', 'flood')
replaceValue(db_cleaned_ENG, 'Kejadian', 'GEMPA BUMI', 'earthquake')
replaceValue(db_cleaned_ENG, 'Kejadian', 'GELOMBANG PASANG / ABRASI', 'high-tide/abrasion')
replaceValue(db_cleaned_ENG, 'Kejadian', 'KEBAKARAN HUTAN DAN LAHAN', 'forest and land fire')
replaceValue(db_cleaned_ENG, 'Kejadian', 'KEKERINGAN', 'drought')
replaceValue(db_cleaned_ENG, 'Kejadian', 'GERAKAN TANAH', 'ground movement')
replaceValue(db_cleaned_ENG, 'Kejadian', 'PERGERAKAN TANAH', 'ground movement')
replaceValue(db_cleaned_ENG, 'Kejadian', 'LETUSAN GUNUNG API', 'volcanic eruption')
replaceValue(db_cleaned_ENG, 'Kejadian', 'PENINGKATAN STATUS GUNUNG MERAPI', 'volcanic activities')
replaceValue(db_cleaned_ENG, 'Kejadian', 'TSUNAMI', 'tsunami')
replaceValue(db_cleaned_ENG, 'Kejadian', 'GEMPA BUMI DAN TSUNAMI', 'earthquake+tsunami')

/Users/cakherman/opt/anaconda3/envs/phd/lib/python3.8/site-packages/pandas/core/series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [123]:
#db_cleaned_ENG= db_cleaned_ENG.drop(columns=['Kronologi'])
db_cleaned_ENG= db_cleaned_ENG.drop(columns=['Penyebab']) #dropping | cause \ column because most likely unused
db_cleaned_ENG.head(5)

,ID Kabupaten,Tanggal Kejadian,Kejadian,Lokasi,Kabupaten,Provinsi,Meninggal,Hilang,Terluka,Rumah Rusak,Fasum Rusak
0,3202,2021-04-12,cyclone,Kec. Cicurug Ds. Tenjoayu,SUKABUMI,JAWA BARAT,0.0,0.0,0.0,6,0
1,3201,2021-04-11,cyclone,Kec. Pamijahan Ds. Ciasihan,BOGOR,JAWA BARAT,0.0,0.0,0.0,2,0
2,3201,2021-04-11,cyclone,Kec. Tamansari Ds. Sukajaya,BOGOR,JAWA BARAT,0.0,0.0,0.0,0,1
3,3211,2021-04-11,landslide,Kec. Wado Ds. Cimungkal,SUMEDANG,JAWA BARAT,0.0,0.0,0.0,0,0
4,3201,2021-04-11,cyclone,Kec. Ciomas Ds. Mekar Jaya,BOGOR,JAWA BARAT,0.0,0.0,0.0,2,0

In [124]:
db_cleaned_ENG = db_cleaned_ENG.rename({"ID Kabupaten":"district_ID", "Tanggal Kejadian":"date","Kejadian":"disaster_type","Lokasi":"location","Kabupaten":"district_name","Provinsi":"province","Penyebab":"cause","Meninggal":"dead","Hilang":"missing", "Terluka":"injured", "Rumah Rusak":"house_damage", "Fasum Rusak":"public_facility_damage"}, axis = 'columns')

In [125]:
db_cleaned_ENG.head(5)

,district_ID,date,disaster_type,location,district_name,province,dead,missing,injured,house_damage,public_facility_damage
0,3202,2021-04-12,cyclone,Kec. Cicurug Ds. Tenjoayu,SUKABUMI,JAWA BARAT,0.0,0.0,0.0,6,0
1,3201,2021-04-11,cyclone,Kec. Pamijahan Ds. Ciasihan,BOGOR,JAWA BARAT,0.0,0.0,0.0,2,0
2,3201,2021-04-11,cyclone,Kec. Tamansari Ds. Sukajaya,BOGOR,JAWA BARAT,0.0,0.0,0.0,0,1
3,3211,2021-04-11,landslide,Kec. Wado Ds. Cimungkal,SUMEDANG,JAWA BARAT,0.0,0.0,0.0,0,0
4,3201,2021-04-11,cyclone,Kec. Ciomas Ds. Mekar Jaya,BOGOR,JAWA BARAT,0.0,0.0,0.0,2,0

In [126]:
listProvince = pd.unique(db_cleaned_ENG['province'])
listProvince

array(['JAWA BARAT', 'JAWA TIMUR', 'LAMPUNG', 'JAWA TENGAH',
       'SUMATERA SELATAN', 'KALIMANTAN TIMUR', 'KALIMANTAN TENGAH',
       'JAMBI', 'SUMATERA BARAT', 'ACEH', 'MALUKU', 'SULAWESI BARAT',
       'SUMATERA UTARA', 'NUSA TENGGARA TIMUR', 'BANTEN', 'RIAU',
       'DI YOGYAKARTA', 'KEPULAUAN BANGKA BELITUNG', 'SULAWESI SELATAN',
       'NUSA TENGGARA BARAT', 'PAPUA', 'KALIMANTAN SELATAN',
       'KALIMANTAN BARAT', 'SULAWESI UTARA', 'MALUKU UTARA',
       'SULAWESI TENGAH', 'KALIMANTAN UTARA', 'GORONTALO', 'BALI',
       'BENGKULU', 'DKI JAKARTA', 'PAPUA BARAT', 'SULAWESI TENGGARA',
       'KEPULAUAN RIAU'], dtype=object)

In [127]:
replaceValue(db_cleaned_ENG, 'province', 'JAWA BARAT', 'west_java')
replaceValue(db_cleaned_ENG, 'province', 'JAWA TENGAH', 'central_java')
replaceValue(db_cleaned_ENG, 'province', 'JAWA TIMUR', 'eastj_ava')
replaceValue(db_cleaned_ENG, 'province', 'SUMATERA SELATAN', 'south_sumatera')
replaceValue(db_cleaned_ENG, 'province', 'SUMATERA BARAT', 'west_sumatera')
replaceValue(db_cleaned_ENG, 'province', 'SUMATERA UTARA', 'north_sumatera')
replaceValue(db_cleaned_ENG, 'province', 'KALIMANTAN BARAT', 'west_kalimantan')
replaceValue(db_cleaned_ENG, 'province', 'KALIMANTAN TENGAH', 'central_kalimantan')
replaceValue(db_cleaned_ENG, 'province', 'KALIMANTAN TIMUR', 'north_kalimantan')
replaceValue(db_cleaned_ENG, 'province', 'KALIMANTAN SELATAN', 'south_kalimantan')
replaceValue(db_cleaned_ENG, 'province', 'SULAWESI SELATAN', 'south_sulawesi')
replaceValue(db_cleaned_ENG, 'province', 'SULAWESI TENGGARA', 'southeast_sulawesi')
replaceValue(db_cleaned_ENG, 'province', 'SULAWESI TENGAH', 'central_sulawesi')
replaceValue(db_cleaned_ENG, 'province', 'SULAWESI BARAT', 'west_sulawesi')
replaceValue(db_cleaned_ENG, 'province', 'SULAWESI UTARA', 'north_sulawesi')
replaceValue(db_cleaned_ENG, 'province', 'NUSA TENGGARA BARAT', 'west_nusa_tenggara')
replaceValue(db_cleaned_ENG, 'province', 'NUSA TENGGARA TIMUR', 'east_nusa_tenggara')
replaceValue(db_cleaned_ENG, 'province', 'MALUKU UTARA', 'north_maluku')

In [128]:
db_cleaned_ENG

,district_ID,date,disaster_type,location,district_name,province,dead,missing,injured,house_damage,public_facility_damage
0,3202,2021-04-12,cyclone,Kec. Cicurug Ds. Tenjoayu,SUKABUMI,west_java,0.0,0.0,0.0,6,0
1,3201,2021-04-11,cyclone,Kec. Pamijahan Ds. Ciasihan,BOGOR,west_java,0.0,0.0,0.0,2,0
2,3201,2021-04-11,cyclone,Kec. Tamansari Ds. Sukajaya,BOGOR,west_java,0.0,0.0,0.0,0,1
3,3211,2021-04-11,landslide,Kec. Wado Ds. Cimungkal,SUMEDANG,west_java,0.0,0.0,0.0,0,0
4,3201,2021-04-11,cyclone,Kec. Ciomas Ds. Mekar Jaya,BOGOR,west_java,0.0,0.0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...
2248,3312,2008-01-01,flood,NaN,WONOGIRI,central_java,0.0,0.0,0.0,0,0
2249,3316,2008-01-01,flood,NaN,BLORA,central_java,0.0,0.0,0.0,0,0
2250,6302,2008-01-01,flood,NaN,KOTABARU,south_kalimantan,0.0,0.0,0.0,0,0
2251,1111,2008-01-01,flood,NaN,ACEH UTARA,ACEH,0.0,0.0,0.0,0,0
2252,3503,2008-01-01,flood,NaN,TRENGGALEK,eastj_ava,0.0,0.0,0.0,0,0

In [129]:
db_cleaned_ENG['district_name'].str.lower()

0         sukabumi
1            bogor
2            bogor
3         sumedang
4            bogor
           ...
2248      wonogiri
2249         blora
2250      kotabaru
2251    aceh utara
2252    trenggalek
Name: district_name, Length: 29850, dtype: object

In [131]:
# Filling NaN values in 'location' with the 'district_name' in lower case format
db_cleaned_ENG.location = db_cleaned_ENG.location.fillna(db_cleaned_ENG['district_name'].str.lower())

In [133]:
db_cleaned_ENG['province'] = db_cleaned_ENG.province.astype(str).str.lower()
db_cleaned_ENG.tail(5)

,district_ID,date,disaster_type,location,district_name,province,dead,missing,injured,house_damage,public_facility_damage
2248,3312,2008-01-01,flood,wonogiri,WONOGIRI,central_java,0.0,0.0,0.0,0,0
2249,3316,2008-01-01,flood,blora,BLORA,central_java,0.0,0.0,0.0,0,0
2250,6302,2008-01-01,flood,kotabaru,KOTABARU,south_kalimantan,0.0,0.0,0.0,0,0
2251,1111,2008-01-01,flood,aceh utara,ACEH UTARA,aceh,0.0,0.0,0.0,0,0
2252,3503,2008-01-01,flood,trenggalek,TRENGGALEK,eastj_ava,0.0,0.0,0.0,0,0

In [136]:
replaceValue(db_cleaned_ENG, 'province', 'eastj_ava', 'east_java')

In [137]:
db_cleaned_ENG.to_csv(r'2021/db_cleaned_ENG.csv')

In [135]:
db_cleaned_ENG.shape

(29850, 11)

## Near Future Plans:

- Adding longitude and latitude columns
- separating the data based on the type of disasters

In [139]:
pd.unique(db_cleaned_ENG['disaster_type'])

array(['cyclone', 'landslide', 'flood', 'earthquake',
       'high-tide/abrasion', 'forest and land fire', 'drought',
       'ground movement', 'volcanic eruption', 'volcanic activities',
       'tsunami', 'earthquake+tsunami'], dtype=object)