# Earthquake Data of Indonesia

These data processed here are obtained from US Government ([usgs](https://www.usgs.gov/)).

These data were downloaded on 4/13/2021. Therefore, Shall I need to add more updated data, I need to retrieve the data manually starting from the date.


The data retrieving is limited by numbers, i.e. 20,000 inquiry at one time. Therefore, I needed to downloaded several different files.

Plans ahead are:
 - reading all data
 - concatinate vertically to create full dataframe
 - cleaning possible duplicated data, since the download method is separated.

In [16]:
import pandas as pd
import glob

In [25]:
# get data location and names
# for MacOS
data_folder = r'/Users/cakherman/OneDrive - purdue.edu/github/github-msuherma-mac/disaster_IDN/earthquake_IDN_usgs.gov'

#for Windows
# data_folder =

######
#getting all files, in csv format
fileNames = glob.glob(data_folder + '/*.csv')

In [29]:
# Opening all data in a loop
dfs = []
for fileName in fileNames:
    dfs.append(pd.read_csv(fileName, delimiter=','))

In [31]:
# concatenate all data into one Dataframe
all_dfs = pd.concat(dfs, ignore_index=True)

In [33]:
all_dfs.shape

(57030, 22)

In [34]:
all_dfs_cleaned = all_dfs.drop_duplicates(subset=None, keep=False)

In [35]:
all_dfs_cleaned.shape

(57030, 22)

In [38]:
print (f'The duplicate data cleaned from the dataframe is {all_dfs.shape[0] - all_dfs_cleaned.shape[0]}')

The duplicate data cleaned from the dataframe is 0